<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Quote of the Day{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'show_all' %}">Show All Quotes</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </nav>
    </header>

    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>