{% extends 'project/base.html' %}

{% block content %}
<style>
    .businessDetail {
        text-align: center;
        margin-bottom: 30px;
    }

    .businessDetail h1 {
        font-size: 2.5rem;
        margin-bottom: 10px;
        color: #0073e6;
    }

    h2 {
        text-align: center;
    }

    .businessDetail p {
        font-size: 1rem;
        color: #555;
    }

    .productsDiv {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .productItem {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-decoration: none;
        color: inherit;
        border: 1px solid #ddd;
        padding: 15px;
        border-radius: 8px;
        background-color: #fff;
        transition: transform 0.2s, box-shadow 0.2s;
        width: 200px;
        height: 300px;
        text-align: center;
    }

    .productItem img {
        max-width: 100%;
        height: 180px;
        object-fit: contain;
        border-radius: 8px;
    }

    .productDescription {
        margin-top: auto;
        padding-top: 10px;
        border-top: 1px solid #ddd;
    }

    .productDescription div {
        margin-bottom: 5px;
        font-size: 1rem;
    }

    .productItem:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
</style>

<div class="businessDetail">
    <h1>{{ business.name }}</h1>
    <p>Owned by {{ business.owner.first_name }} {{ business.owner.last_name }}</p>
    <p>{{ business.description }}</p>
</div>

<h2>Product List</h2>

<div class="productsDiv">
    {% for product in products %}
    <a href="{% url 'product_detail' product.pk %}" class="productItem">
        <img src="{{ product.picture_url }}" alt="{{ product.name }}">
        <div class="productDescription">
            <div>${{ product.price }}</div>
            <div>{{ product.name }}</div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
