{% extends 'restaurant/base.html' %}
        {% block content %}
        <div>
            <h1>Mala Restaurant</h1>
            <img src="https://lh3.googleusercontent.com/p/AF1QipNTD-vGy8kHfZ7BxwuJ-LEIZYGN8zDMIdF3oJkZ=s680-w680-h510" />
            <h2>We specialized in Hot and Spicy food for everyone to enjoy!</h2>
            <div>Hours of Operation</div>
            <table>
                <thead>
                    <tr>
                        <td>Day</td>
                        <td>Hours</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Monday</td>
                        <td>10:00am - 10:00pm</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>10:00am - 10:00pm</td>
                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td>10:00am - 10:00pm</td>
                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td>10:00am - 10:00pm</td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td>10:00am - 10:00pm</td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td>10:00am - 10:00pm</td>
                    </tr>
                    <tr>
                        <td>Sunday</td>
                        <td>10:00am - 10:00pm</td>
                    </tr>
                </tbody>
            </table>
        </div>
{% endblock %}