<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Social Media App{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'mini_fb.css' %}">
</head>
<body>
    <header>
        <h1>My Social Media App</h1>
        <nav>
            <a href="/mini_fb/">Home</a>
            <a href="/mini_fb/create_profile/">Create Profile</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
