{% extends 'mini_fb/base.html' %}

{% block title %}{{ profile.first_name }}'s Profile{% endblock %}

{% block content %}
<h2>{{ profile.first_name }} Profile</h2>

<div>
    <div>
        <img src="{{ profile.profile_image_url }}" alt="{{ profile.first_name }}'s profile" width="200">
    </div>

    <div>
        <h1>{{ profile.first_name }} {{ profile.last_name }}</h1>
        <h2>{{ profile.city }}</h2>
    </div>
</div>

<div>
    <div>{{ profile.first_name }}'s Status Messages</div>
    
    {% for message in profile.get_status_messages %}
        <p>{{ message.timestamp }}: {{ message.message }}</p>
    {% endfor %}
</div>
{% endblock %}
