body {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: blueviolet;
}
