body {
    text-align: center;
    align-items: center;
    background-color: antiquewhite;
}

a {
    text-decoration: none;
    color: red;
}

table {
    margin: auto;
    text-align: start;
}

.menu {
    align-items: center;
    list-style-type: none;
}